/*Stylesheet*/

#cWord {
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 10px;
    font-family: monospace;
}
body{
	background-image: url(images/space.jpg);
    background-color: #000;
    font-family: Courier New, Courier, monospace;
}
.wrap{
	background-color: #000;
	
	background-repeat: no-repeat;
	margin: 0 auto;
	
}
.page-header {
    border-bottom: 1px solid #f7ea00;
}
.btn-warning {
    color: #000;
    background-color: #fff64b;
    border-color: #000000;
}
.panel-body {
    color: #FFf;
    background-color: #12122b;
}
.panel{
    border: 1px solid #f7ea00;
    opacity: 0.8;
    font-family: Courier New, Courier, monospace;
    font-size: 20px;
}
.jumbotron{
    background-color: #12122b;
    opacity: 0.8;
    width: 100%;
}
#logo{
    margin: 0 auto;
    width: fit-content;
}